.list_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    h1{
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
    }
    &__seeAll{
        display: flex;
        align-items: center;
        cursor: pointer;
        h2{
            color: rgb(106, 106, 106);
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 600;
            line-height: 25px;
            &:hover{
                color: #000;
            }
        }
        &__icon{
            margin-left: 2px;
            background: url('../../public/images/Generalis/seeAll-icon.svg') no-repeat center center / cover;
            width: 18px;
            height: 18px;
        }
    }
}